* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.contentbox {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: white; */
  /* background-color: #ffdee9; */

  padding: 2rem;
}

.header {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-end;
  animation: slidein 1sec ease forwards;
  /* opacity: 0; */
}
@media screen and (max-width: 1280px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}
@keyframes slidein {
  0% {
    /* opacity: 0; */
    transform: translateX(-100%);
  }

  100% {
    /* opacity: 1; */
    transform: translateX(0%);
  }
}
.header-image img {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
}

.header-heading {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-self: flex-end;
}
@media screen and (max-width: 1280px) {
  .header-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.header-heading h1 {
  font-size: 5.5rem;
  font-weight: bold;
}
@media screen and (max-width: 840px) {
  .header-heading h1 {
    font-size: 4rem;
    font-weight: bold;
  }
}
.header-heading span {
  font-size: 2rem;
  font-weight: bold;
}

.main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.main-content {
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: justify;
}

.Biographies-list li {
  font-size: 2rem;
  margin-left: 6rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.footer {
  margin-top: 3rem;
  text-align: end;
}

.footer-content {
  font-size: 2rem;
}
