@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
.container {
  height: 100%;
  width: 100%;
  /* padding: 20px; */
}

.content-box {
  display: flex;
  /* scroll-behavior: smooth; */
}

.left-content {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  border-right: 1px solid #ccc;
  /* padding-left: 30px; */
  padding-top: 30px;
  padding-right: 5px;
  /* padding: 10px; */
  /* position: fixed; */
}

h1:hover {
  transition: all 0.5s linear;
  transform: scale(1.01);
}
.left-content a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #ccc;
  /* padding-bottom: 20px; */
}
.left-content h1 {
  padding-left: 10px;
  font-size: 40px;
  color: rgb(80, 78, 78);
  padding-right: 150px;
  /* padding-right: 10px; */
}
.left-content a h2:hover {
  background-color: #ccc;
  transition: 0.3s ease-in-out;
}
.left-content h2 {
  padding-left: 10px;
  font-size: 25px;
  color: rgb(137, 130, 130);
  padding-right: 30px;
  margin-right: 5px;
}
.left-content ul li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.right-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 100px;
  padding-top: 30px;
  padding-right: 50px;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.introduction h1 {
  color: black;
  font-size: 40px;
  border-bottom: 1px solid black;
}

.introduction p {
  font-size: 25px;
}
.introduction ul {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.introduction li {
  font-size: 25px;
}

.What h1 {
  color: black;
  font-size: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.What p {
  font-size: 25px;
  margin-bottom: 20px;
}

.What ul {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.What li {
  font-size: 25px;
}

.javascript h1 {
  color: black;
  font-size: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.javascript p {
  font-size: 25px;
  margin-bottom: 20px;
}
.hello h1 {
  color: black;
  font-size: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.hello code {
  font-size: 20px;
}
.hello code p {
  font-size: 20px;
  margin-top: 10px;
}
.hello p {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.code {
  background-color: rgb(235, 233, 233);
  padding: 20px;
  margin-left: 30px;
}

.variables h1 {
  color: black;
  font-size: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.variables p {
  font-size: 25px;
  margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
  .content-box {
    flex-direction: column;
  }
  .left-content {
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .left-content a {
    padding: 0;
  }
  .introduction h1 {
    font-size: 20px;
  }
  .javascript h1 {
    font-size: 20px;
  }
  .What h1 {
    font-size: 20px;
  }
  .variables h1 {
    font-size: 20px;
  }
  .hello h1 {
    font-size: 20px;
  }
  .introduction p {
    font-size: 15px;
  }
  .variables p {
    font-size: 15px;
  }
  .hello p {
    font-size: 15px;
  }
  .code code {
    font-size: 15px;
  }
  .code code p {
    font-size: 15px;
  }
  .javascript p {
    font-size: 15px;
  }
  .What p {
    font-size: 15px;
  }
  .introduction ul li {
    font-size: 15px;
  }
  .What ul li {
    font-size: 15px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  .right-content {
    width: 100%;
    padding: 10px;
  }
}
